{% extends "html/tables.html" %}
{% block title %}
    跨服团战信息
{% endblock %}


{% block title_div %}
    跨服团战信息
{% endblock %}

{% block option %}
    {% for a,b in th %}
        <option value="{{a}}">{{b}}</option>
    {% endfor %}
{% endblock %}


{% block th %}
    <tr>
    <th><input type="checkbox" /></th>
    {% for a,b in th %}
        <th>{{b}}</th>
    {% endfor %}
    </tr>
{% endblock %}

{% block td %}

{% for i in list %}
    <tr>
        <td><input type="checkbox" /></td>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>
        电信:{{i.6.ct}}<br/>联通:{{i.6.cu}}</br>移动:{{i.6.cm}}
        </td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>
            主:{{i.10.0}}<br/>
            从:{{i.10.1}}
        </td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
    </tr>
{% endfor %}
{% endblock %}
