<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Login Page - Ace Admin</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		{% load static %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/ace.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/ace-rtl.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/ace-skins.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/ace-fonts.css" %}" />
		<script src="{% static "js/ace-extra.min.js" %}"></script>
		<script src="{% static "js/jquery.dataTables.bootstrap.js" %}"></script>
		<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
	</head>
</html>
{% block body %}
{% endblock %}