{% extends "html/tables.html" %}
{% block title %}
    中央服信息
{% endblock %}


{% block title_div %}
    中央服信息
{% endblock %}

{% block option %}
    {% for a,b in th %}
        <option value="{{a}}">{{b}}</option>
    {% endfor %}
{% endblock %}


{% block th %}
    <tr>
    <th><input type="checkbox" /></th>
    {% for a,b in th %}
        <th>{{b}}</th>
    {% endfor %}
    </tr>
{% endblock %}

{% block td %}

{% for i in list %}
    <tr>
        <td><input type="checkbox" /></td>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>
        电信:{{i.3.ct}}<br/>联通:{{i.3.cu}}</br>移动:{{i.3.cm}}
        </td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>
            主:{{i.7.0}}<br/>
            从:{{i.7.1}}
        </td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
    </tr>
{% endfor %}
{% endblock %}
