{% extends "base.html" %}
{% block body %}
	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<!-- #section:basics/sidebar.mobile.toggle -->
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="#" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							运维管理后台
						</small>
					</a>

					<!-- /section:basics/navbar.layout.brand -->

					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>

				<!-- #section:basics/navbar.dropdown -->
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<!-- #section:basics/navbar.user_menu -->
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="../../static/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									Jason
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="ace-icon fa fa-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="../profile.html">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="/logout/">
										<i class="ace-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>

						<!-- /section:basics/navbar.user_menu -->
					</ul>
				</div>

				<!-- /section:basics/navbar.dropdown -->
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar                  responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->
				<ul class="nav nav-list">
<!--begin -->
					<li class="">
						<a href="#" class="dropdown-toggle">
							<!-- <i class="menu-icon fa fa-desktop"></i> -->
							<span class="menu-text"> 王者屠龙 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a data-url="page/machine_info" href="#page/machine_info">
									<i class="menu-icon fa fa-caret-right"></i>
									服务器信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a data-url="#" href="#">
									<i class="menu-icon fa fa-caret-right"></i>
									游戏服信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a data-url="page/exec_sys_command" href="#page/exec_sys_command">
									<i class="menu-icon fa fa-caret-right"></i>
									执行系统命令
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a data-url="page/alter_open_server_time" href="#page/alter_open_server_time">
									<i class="menu-icon fa fa-caret-right"></i>
									修改开服时间
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a data-url="page/open_server" href="#page/open_server">
									<i class="menu-icon fa fa-caret-right"></i>
									部署新服
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a data-url="3" href="#">
									<i class="menu-icon fa fa-caret-right"></i>
									执行合服
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a data-url="#" href="#">
									<i class="menu-icon fa fa-caret-right"></i>
									执行清档
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a data-url="#" href="#">
									<i class="menu-icon fa fa-caret-right"></i>
									游戏服监控
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a data-url="page/upload_file" href="#page/upload_file">
									<i class="menu-icon fa fa-caret-right"></i>
									上传文件
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="#" class="dropdown-toggle">
							<!-- <i class="menu-icon fa fa-desktop"></i> -->
							<span class="menu-text"> 大富豪3 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a data-url="#" href="#">
									<i class="menu-icon fa fa-caret-right"></i>
									服务器信息
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul><!-- /.nav-list -->
				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<!-- #section:basics/content.breadcrumbs -->
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">Home</a>
						</li>
					</ul><!-- /.breadcrumb -->

					<!-- #section:basics/content.searchbox -->
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- /.nav-search -->

					<!-- /section:basics/content.searchbox -->
				</div>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					 
					<div class="page-content-area">
						<!-- ajax content goes here -->
					</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../static/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../../static/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../../static/js/bootstrap.min.js"></script>

		<!-- ace scripts -->
		<script src="../../static/js/ace-elements.min.js"></script>
		<script src="../../static/js/ace.min.js"></script>
		<script type="text/javascript">
			//Load content via ajax
					jQuery(function($) {
					  if('enable_ajax_content' in ace) {
						var options = {
						  content_url: function(url) {
							//this is for Ace demo only, you should change it
							//please refer to documentation for more info
						
							if(!url.match(/^page\//)) return false;
							
							var path = document.location.pathname;
							
							//for Ace HTML demo version, convert ajax.html#page/gallery to > gallery.html and load it
							if(path.match(/index/)) return path.replace(/index/, url.replace(/^page\//, '')) ;
					
							//for Ace PHP demo version convert "page/dashboard" to "?page=dashboard" and load it
							return path + "?" + url.replace(/\//, "=");
						  },
						  default_url: 'index'//default url
						  //default_url: 'index'//default url
						}
						ace.enable_ajax_content($, options)
					  }
					    
					})
		</script>
	</body>
{% endblock %}
