{% extends "base.html" %}
{% block body %}
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="table-header">
											Results for "Latest Registered Domains"
		 </div>
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-themesecondary ">
                    <i class="widget-icon fa fa-tags themesecondary"></i>
					
                    <span class="widget-caption themesecondary">硬件资产</span>
 
                    
                </div><!--Widget Header-->
                <div style="padding:-10px 0px;" class="widget-body no-padding">
                    <div class="tickets-container">
                        <div class="table-toolbar" style="float:left">
                            <a id="addhasset" href="javascript:void(0);" class="btn  btn-primary ">
                                <i class="btn-label fa fa-plus"></i>添加
                            </a>
                            <a id="changehasset" href="javascript:void(0);" class="btn btn-warning shiny">
                                <i class="btn-label fa fa-cog"></i>修改
                            </a>
                            <a id="delhasset" href="javascript:void(0);" class="btn btn-darkorange">
                                <i class="btn-label fa fa-times"></i>删除
                            </a>
                        </div>
                       <table id="myLoadTable" class="table table-bordered table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content" id="contentDiv">
         <div class="widget-header bordered-bottom bordered-blue ">
           <i class="widget-icon fa fa-pencil themeprimary"></i>
           <span class="widget-caption themeprimary" id="modalTitle">添加</span>
        </div>

         <div class="modal-body">
            <div>
            <form id="modalForm">
                <div class="form-group">
                  <label class="control-label" for="inputSuccess1">主机名：</label>
                  <input type="text" class="form-control" id="hostname" name="hostname" require>
                </div>
                <div class="form-group">
                  <label class="control-label" for="inputSuccess1">IP地址：</label>
                  <input type="text" class="form-control" id="ip" name="ip" require>
                </div>
                <div class="form-group">
                  <label class="control-label" for="inputSuccess1">CPU：</label>
                  <input type="text" class="form-control" id="cpu" name="cpu" require>
                </div>
                <div class="form-group">
                  <label class="control-label" for="inputSuccess1">MEM：</label>
                  <input type="text" class="form-control" id="mem" name="mem">
                </div>
  
                <div class="form-group">
                  <label class="control-label" for="inputSuccess1">DISK：</label>
                  <input type="text" class="form-control" id="disk" name="disk">
                </div>
				<div class="form-group">
                  <label class="control-label" for="inputSuccess1">项目：</label>
                  <input type="text" class="form-control" id="project" name="project">
                </div>
                <div class="form-group">
                  <label class="control-label" for="inputSuccess1">机房：</label>
                  <input type="text" class="form-control" id="mark" name="mark">
                </div>
                 
                <br></br>
                <input type="hidden" id="hidInput" value="">
                <button type="button" id="subBtn" class="btn btn-primary  btn-sm">提交</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">关闭</button> 
             </form>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
$(function(){
    /**
    *表格数据
    */
    var editId;        //定义全局操作数据变量
	var isEdit;
    $('#myLoadTable').bootstrapTable({
          method: 'post',
          url: '/api/gethasset',
          contentType: "application/json",
          datatype: "json",
          cache: false,
          checkboxHeader: true,
          striped: true,
          pagination: true,
          pageSize: 15,
          pageList: [10,20,50],
          search: true,
          showColumns: true,
          showRefresh: true,
          minimumCountColumns: 2,
          clickToSelect: true,
          smartDisplay: true,
          //sidePagination : "server",
          sortOrder: 'asc',
          sortName: 'id',
          columns: [{
              field: 'bianhao',
              title: 'checkbox',      
              checkbox: true,
          },{
              field: 'id',
              title: '编号',
              align: 'center',
              valign: 'middle',
              width:25,
              sortable: false,
          },{

              field: 'hostname',
              title: '主机名',
              align: 'center',
              valign: 'middle',
              sortable: false
          },{
              field: 'ip',
              title: 'IP地址',
              align: 'center',
              valign: 'middle',
              sortable: false
          },{
              field: 'cpu',
              title: 'CPU',
              align: 'center',
              valign: 'middle',
              sortable: false
          },{
              field: 'mem',
              title: 'MEM',
              align: 'center',
              valign: 'middle',
              sortable: false
          },{
              field: 'disk',
              title: 'DISK',
              align: 'center',
              valign: 'middle',
              sortable: false
          },{
              field: 'project',
              title: '项目',
              align: 'center',
			  valign: 'middle',
              sortable: false
          },{
              field: 'mark',
              title: '机房',
              align: 'center',
              valign: 'middle',
              sortable: false
          }]
      });

    /**
    *添加弹出框
    */

	$('#addhasset').click(function(){
        $('#modalTitle').html('添加');
        $('#hidInput').val('0');
        $('#myModal').modal('show');
        $('#modalForm')[0].reset();
        isEdit = 0;
    });


    /**
    *修改弹出框
    */

    $('#changehasset').popover({
    	    html: true,
    	    container: 'body',
    	    content : "<h3 class='btn btn-danger'>请选择一条进行操作</h3>",
    	    animation: false,
    	    placement : "top"
    }).on('click',function(){
    		var result = $("#myLoadTable").bootstrapTable('getSelections');
    		if(result.length <= 0){
    			$(this).popover("show");
    			setTimeout("$('#changehasset').popover('hide')",1000)
    		}
    		if(result.length > 1){
    			$(this).popover("show");
    			setTimeout("$('#changehasset').popover('hide')",1000)
    		}
    		if(result.length == 1){
                $('#changehasset').popover('hide');
                $('#hostname').val(result[0]['hostname']);
                $('#ip').val(result[0]['ip']);
                $('#cpu').val(result[0]['cpu']);
                $('#mem').val(result[0]['mem']);
                $('#disk').val(result[0]['disk']);
                $('#project').val(result[0]['project']);
                $('#mark').val(result[0]['mark']);
                $('#modalTitle').html('修改用户');     //头部修改
                $('#hidInput').val('1');            //修改标志
                $('#myModal').modal('show');
                editId = result[0]['id'];
				isEdit = 1;
    		}
        });

    /**
    *提交按钮操作
    */
    $("#subBtn").click(function(){
           var hostname = $('#hostname').val();
           var ip = $('#ip').val();
           var cpu = $('#cpu').val();
           var mem = $('#mem').val();
           var disk = $('#disk').val();
           var project = $('#project').val();
           var mark = $('#mark').val();
           var postUrl;
           if(isEdit==1){
                postUrl = "/changehasset/"+editId;           //修改路径
           }else{
                postUrl = "/addhasset";          //添加路径
           }

           $.post(postUrl,{hostname:hostname,ip:ip,cpu:cpu,mem:mem,disk:disk,project:project,mark:mark},function(data){
                  if(data==0){
                    $('#myModal').modal('hide');
                    $('#myLoadTable').bootstrapTable('refresh');
                    message.message_show(200,200,'成功','操作成功');   
                  }else if(data==-1){
                      message.message_show(200,200,'失败','操作失败');
                  }else{
                        console.log(data);return false;
                }
            },'html');
       });

        /**
        *删除按钮操作
        */        
    $('#delhasset').popover({
                html: true,
                container: 'body',
                content : "<h3 class='btn btn-danger'>请选择要删除的记录</h3>",
                animation: false,
                placement : "top"
        }).on('click',function(){
            var res = $("#myLoadTable").bootstrapTable('getSelections');
            var str = '';
            if(res.length <= 0){
                $(this).popover("show");
                setTimeout("$('#delhasset').popover('hide')",1000)
            }else{
                $(this).popover("hide");
                for(i in res){
                    str += res[i]['id']+',';
                }
                $.post('/delhasset',{str:str},function(data){
                    if(data==0){
                        message.message_show(200,200,'删除成功',res.length+'条记录被删除');
                        $('#myLoadTable').bootstrapTable('refresh');
                    }else{
                        message.message_show(200,200,'失败','删除失败');
                    }
                },'html');  
                
            }
        });
        
})
</script>
{% endblock %}
