<meta charset="utf8" />
<title>{% block title %}{% endblock %}</title>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                
                <div class="table-header">
                  王者屠龙
                </div>

                <div class="show_info_seach">
                    <select id="select_column">
                        {% block option %}
						<option>分组没做</option>
						<option>分组没做</option>
						<option>分组没做</option>
                        {% endblock %}
                    </select>
                    <input type="text" id="column3_search" placeholder="关键字搜索" />
					<button>提交</button>
                </div>


                <!-- <div class="table-responsive"> -->

                <!-- <div class="dataTables_borderWrap"> -->
                <div>
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                        <thead>
                           <tr>
							<th class="center">
								<label class="position-relative">
									<input type="checkbox" class="ace" />
									<span class="lbl"></span>
								</label>
							</th>
							<th>Description</th>
							<th>ServerZone</th>
							<th>TenWorldId</th>
							<th>LocalIP</th>
							<th>InterIP</th>
							<th>操作</th>
						</tr>
                        </thead>
                        <tbody>
						{% for host in machine_infos %}
                           <tr>
							<td class="center">
								<label class="position-relative">
									<input type="checkbox" class="ace" />
									<span class="lbl"></span>
								</label>
							</td>
							<td class="center">{{host.name}}</td>
							<td class="center">{{host.zone}}</td>
							<td class="center">{{host.tenworldid}}</td>
							<td class="center">{{host.localip}}</td>
							<td class="center">{{host.interip}}</td>
						   </tr>
						 {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- page specific plugin scripts -->
<script type="text/javascript">
    var scripts = [null, "../../static/js/jquery.dataTables.min.js", "../../static/js/jquery.dataTables.bootstrap.js", null]
        //var scripts = [null,"../../static/js/jquery.dataTables.min.js",null, null]
    ace.load_ajax_scripts(scripts, function () {
        //inline scripts related to this page
        jQuery(function ($) {
            var oTable1 =
                $('#sample-table-2')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .dataTable({
                    "bLengthChange": false,
                    "aaSorting": [
                        [1, "asc"]
                    ],
                    "columnDefs": [{
                        "orderable": false,
                        "targets": 0
                    }],
                    "iDisplayLength": 20,
                    "language": {
                        "lengthMenu": "每页 _MENU_ 条记录",
                        "zeroRecords": "没有找到记录",
                        "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                        "infoEmpty": "无记录",
                        "infoFiltered": "(从 _MAX_ 条记录过滤)",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "前一页",
                            "sNext": "后一页",
                            "sLast": "尾页"
                        }
                    }
                });

            function filterColumn(i) {
                str = $("#column3_search").val()
                $('#sample-table-2').DataTable().column(i).search(
                    str
                ).draw();
            }
            $("#column3_search").on('keyup', function () {
                column_num = $("#select_column").val()
                filterColumn(column_num);
            })

            $(document).on('click', 'th input:checkbox', function () {
                var that = this;
                $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function () {
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });
            });


            $('[data-rel="tooltip"]').tooltip({
                placement: tooltip_placement
            });

            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

        })
    });
</script>
